@font-face {
	font-family: "SFProDisplay-Regular";
	src: local("SFProDisplay-Regular"), url("../fonts/SFProDisplay-Regular.woff") format("woff"),
		url("../fonts/SFProDisplay-Regular.woff2") format("woff2");
	font-weight: normal;
}
@font-face {
	font-family: "SFProDisplay-Semibold";
	src: local("SFProDisplay-Semibold"), url("../fonts/SFProDisplay-Semibold.woff") format("woff"),
		url("../fonts/SFProDisplay-Semibold.woff2") format("woff2");
	font-weight: bold;
}

/* Глобальные классы */
body {
	font-family: "SFProDisplay-Regular", sans-serif;
	background: #f5f5f5;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}
/* header */
.header {
	background: #fa8c16;
	padding: 16px 0;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
	margin-bottom: 30px;
}

.header__head {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header__logo {
	margin-right: 60px;
}
.header__nav {
	margin-right: auto;
}
.header__ul {
	display: flex;
}
.header__li:not(:last-child) {
	margin-right: 15px;
}
.header__li a {
	/* font-family: SF Pro Display; */
	font-size: 14px;
	line-height: 22px;

	color: #fafafa;
}
.header__form {
	max-width: 237px;
	width: 100%;
	height: 32px;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #d9d9d9;
	box-sizing: border-box;
	border-radius: 4px;
}
.header__search {
	padding-left: 12px;
	minwidth: 88%;
	height: 100%;
}

input[type="search"]::-moz-placeholder {
	color: #bfbfbf; /* Цвет подсказывающего текста */
}
input[type="search"]::-webkit-input-placeholder {
	color: #bfbfbf;
}
input[type="search"]:-ms-input-placeholder {
	color: #bfbfbf;
}
input[type="search"]::-ms-input-placeholder {
	color: #bfbfbf;
}
input[type="search"]::placeholder {
	color: #bfbfbf;
}

.header__btn {
	/* margin-right: 12px; */

	width: 12.5px;
	height: 12.5px;
	background: #fff url("../image/search.svg") center center no-repeat;
	padding: 14px;
}

/* post */
.contant {
	display: flex;
	justify-content: space-between;
}
.contant-main {
	width: 67%;
}
.post {
	/* max-width: 800px;
	 */
	background-color: #fff;
	border: 1px solid #e8e8e8;
	margin-bottom: 30px;
}
.post__contant {
	padding: 35px;
}
.post__title {
	font-family: "SFProDisplay-Semibold";
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: #262626;
	margin-bottom: 19px;
}
.post__text {
	font-size: 14px;
	line-height: 22px;
	color: #262626;
	margin-bottom: 20px;
}
.post__tags {
}
.post__tag {
	font-size: 14px;
	line-height: 22px;
	color: #bfbfbf;
	margin-right: 10px;
}

.post__footer {
	padding: 13px 36px;
	background: #fafafa;
	border-top: 1px solid #e8e8e8;
	display: flex;
	justify-content: space-between;
}
.post__footer .icon {
	fill: #8c8c8c;
}

.post__buttons {
	display: flex;
	align-items: center;
}
.post__btn {
	display: flex;
	align-items: center;
	margin-right: 29px;
	cursor: pointer;
}
.post__counter {
	font-size: 14px;
	line-height: 22px;
	color: #8c8c8c;
}
.icon {
	margin-right: 7px;
}
.post__avatar {
	display: flex;
	align-items: center;
}
.post__name {
	font-size: 12px;
	line-height: 20px;
	text-align: right;
	color: #8c8c8c;
}
.post__time {
	font-size: 12px;
	line-height: 20px;
	text-align: right;
	color: #bfbfbf;
}
.post__image {
	margin-left: 9px;
	width: 34px;
	height: 34px;
}

/* sidebar */

.user__img {
}
.user__name {
}
.user__exit {
}
.icon {
}

.sidebar {
	width: 31%;
}
.user {
	padding: 15px 25px;
	background: #fafafa;
	border: 1px solid #e8e8e8;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.user__name {
	margin-right: auto;
	font-family: "SFProDisplay-SemiBold";
	font-size: 16px;
	line-height: 24px;
	color: #595959;
}
.user__img {
	margin-right: 17px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.icon-exit {
	fill: black;
	width: 24px;
	height: 24px;
}
.sidebar__nav {
	background-color: #fff;
	border: 1px solid #e8e8e8;
}
.sidebar__ul {
}
.sidebar__li a {
	display: block;
	padding: 16px 16px 16px 48px;
	font-size: 14px;
	line-height: 22px;

	color: #595959;
}

.sidebar__li:hover {
	background: #fffbe6;
}

.sidebar__li-active {
	border-right: 3px solid #faad14;
	background: #fffbe6;
}
.sidebar__btn {
	margin-top: 20px;
	display: block;
	height: 50px;
	width: 100%;
	background: #faad14;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.sidebar__post {
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
}
.icon-fire {
	width: 11px;
	height: 14px;
	fill: #fff;
}

.card {
	margin-top: 20px;
}
.card__header {
	padding: 23px 25px;
	background: #fafafa;
	border: 1px solid #e8e8e8;
}
.card__title {
	font-family: "SFProDisplay-SemiBold";
	font-size: 16px;
	line-height: 24px;
	color: #595959;
}
.card__body {
	background-color: #fff;
	padding: 22px 40px 30px 25px;
}
.card__name {
	display: inline-block;
	margin-bottom: 10px;
	font-family: "SFProDisplay-SemiBold";
	font-size: 16px;
	line-height: 24px;

	color: #d48806;
}
.card__text {
	font-size: 14px;
	line-height: 22px;
	color: #262626;
}
.promo {
	margin-top: 20px;
	margin-bottom: 20px;
	position: relative;
	background-color: #fff;
	width: 100%;
	height: 261px;
	background: url("../image/promo.jpg") center center / cover no-repeat;
}
.promo:before {
	content: "Реклама";
	position: absolute;
	right: 0;
	top: 0;
	padding: 0px 26px;
	background: #c4c4c4;
	font-size: 12px;
	line-height: 20px;
	color: #ffffff;
}
.header__sidebar {
	display: none;
}

.post-form {
	display: flex;
	flex-direction: column;
}
.post-form__title {
	margin-bottom: 16px;
	height: 70px;
	padding-left: 31px;
}
.post-form__textarea {
	height: 362px;
	padding-left: 31px;
	padding-top: 23px;
}

.post-form__title::-moz-placeholder {
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	font-family: "SFProDisplay-SemiBold";
}
.post-form__title::-webkit-input-placeholder {
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	font-family: "SFProDisplay-SemiBold";
}
.post-form__title:-ms-input-placeholder {
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	font-family: "SFProDisplay-SemiBold";
}
.post-form__title::-ms-input-placeholder {
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	font-family: "SFProDisplay-SemiBold";
}
.post-form__title::placeholder {
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	font-family: "SFProDisplay-SemiBold";
}
.post-form__buttons {
	margin-top: 10px;
}
.sidebar__btn-post {
	max-width: 370px;
	margin-right: 36px;
}
.sidebar__btn-video,
.sidebar__btn-photo {
	max-width: 125px;
	background: #ffffff;
	border: 1px solid #ffc53d;
	border-radius: 4px;
	font-size: 16px;
	line-height: 24px;
	color: #ffc53d;
}
.sidebar__btn-video {
	margin-right: 12px;
}
.icon-photo,
.icon-video {
	fill: #ffc53d;
	width: 14px;
	height: 11px;
}

.post-form__buttons {
	display: flex;
	align-items: center;
}

@media (max-width: 1000px) {
	.contant-main {
		margin-top: 90px;
	}
	.sidebar {
		display: none;
	}
	.contant-main {
		width: 100%;
	}
	.header__sidebar {
		margin-left: 10px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 30px;
		height: 20px;
	}
	.header__sidebar span {
		display: inline-block;
		height: 3px;
		width: 100%;
		background-color: #fff;
	}
	.header {
		position: fixed;
		width: 100%;
	}
	.sidebar-visible {
		display: block;
		position: fixed;
		max-width: 320px;
		width: 100%;
		right: 0;
		bottom: 0;
		top: 64px;
		background-color: #fff;
		overflow: auto;
	}
}

@media (max-width: 768px) {
	.header__nav {
		display: none;
	}
	.header__logo {
		margin-right: 0;
	}
}

@media (max-width: 530px) {
	.post__footer {
		flex-direction: column;
	}
	.post__info {
		order: 1;
	}
	.post__avatar {
		margin-top: 10px;
	}
	.post__name,
	.post__time {
		text-align: left;
	}
	.post__image {
		margin-left: 0;
		margin-right: 10px;
	}
	.post-form__buttons {
		flex-direction: column;
		align-items: flex-start;
	}
	.sidebar__btn-post {
		width: 100%;
		max-width: 100%;
	}
	.post-form__buttons .sidebar__btn {
		width: 100%;
		max-width: 100%;
	}
}
